@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html{
        font-family: "Inter", sans-serif;
        line-height: 1.3;
    }
    table{}

    th,td{
        @apply py-3 px-2.5 text-sm text-left border-y border-gray-200
    }
    thead{
        @apply bg-purple-100
    }
    th{
        @apply font-semibold
    }
    a{
        @apply text-sky-500
    }
}

@media screen and (max-width:768px) {

    .sidebar-container{
        width: 3rem;
        align-items: center;
    }
    .sidebar span{
       display: none;
    }

    .sidebar{
        align-items: center;
    }
    .search{
     width: 100%;
    }

    .left-search{
      width: 30%;
      font-size: 1rem;
      padding-right: 1.5rem;
    }
    .icon{
        font-size: 1rem;
    }

    .table-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .table-item{
        width: 100%;

    }
   
    th{
        padding: 1px;
        font-size: 0.5rem;
        font-weight: 600;
    }

    .table-item h3{
        font-size: 1.2rem ;
       width: auto;
    }
   
}